
.container {
    display: flex;
    height: 100vh;
  }
  
  .backgroundContainer {
    background-image: url('/login.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
  }
  
  .backgroundContent {
    margin-top: 19rem;
  }
  
  .continueButton {
    border-radius: 20px;
   
  }
  
  .formContainer {
    flex: 1;
    padding-left: 2rem;
  }
  
  .formPaper {
    padding: 20px;
    width: 80%;
  }
  

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .backgroundContainer {
      min-width: 100%;
      height: 100vh;
    }
  
    .formContainer {
      padding-left: 0;
      padding-right: 0;
    }
  
    .formPaper {
      width: 100%;
    }
  }

 
  
  
 
  

  